/** @format */

* {
 text-align: center;
}

h1 {
 border-bottom: 2px solid black;
 margin-left: 10%;
 margin-right: 10%;
}

#navigation {
 height: 100px;
 display: flex;
 flex-direction: column;
 overflow: hidden;
 justify-content: center;
}

.navbanner {
 margin-top: 0px;
}

.navlist {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;
}

.navlist ul {
 display: flex;
 flex-wrap: nowrap;
}

.navlist ul li {
 display: flex;
 flex-direction: column;
 font-size: small;
}

#about_container {
 margin-left: 10%;
 margin-right: 10%;
}
